<!--<div class="container">
    <div class="flex-container">
      <table class="table table hover">
        <thead>
            <th>Systolic (mmHg)</th>
            <th>Diastolic (mmHg)</th>
            <th>Oxygen Saturation (%)</th>
            <th>Heart Rate (bpm)</th>
            <th>Temperature(℉)</th>
            <th>Respiratory Rate (breaths / min)</th>
            <th>Height (inches)</th>
            <th>Weight (lbs.)</th>
        </thead>
        <tbody>
            <tr *ngFor="let vital of listOfVitals">
                <td>{{vital.systolic}}</td>
                <td>{{vital.diastolic}}</td>
                <td>{{vital.oxygenSat}}</td>
                <td>{{vital.heartRate}}</td>
                <td>{{vital.temperature}}</td>
                <td>{{vital.respiratoryRate}}</td>
                <td>{{vital.height}}</td>
                <td>{{vital.weight}}</td>
            </tr>
        </tbody>
    </table>
    </div>
  </div>
-->