<body>
  <br />
  <div class="container">
    <button (click)="backToPatientView()" class="btn dark-grey-btn">
      Back
    </button>
  </div>
  <br />
  <div id="print-me" class="container">
    <div class="card p-4">
      <div class="text-center">
        <div class="content-title">
          <h4>Patient Information</h4>
          <p>Last updated:{{ diagnosis.encounterDate | date }}</p>
        </div>
        <div class="row">
          <div class="col-md-3 p-2">
            <h4>Name</h4>
            <p>
              {{ patient.userProfile.firstName }}
              {{ patient.userProfile.lastName }}
            </p>
          </div>
          <div class="col-md-3 p-2">
            <h4>Date Of Birth</h4>
            <p>{{ patient.userProfile.dateOfBirth | date: "MM/dd/yyyy" }}</p>
          </div>
          <div class="col-md-3 p-2">
            <h4>Contact</h4>
            <p>{{ patient.userProfile.phoneNumber }}</p>
          </div>
          <div class="col-md-3 p-2">
            <h4>Address</h4>
            <p>{{ patient.userProfile.address }}</p>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-3 p-2">
          <h4>Conditions</h4>
          <div *ngFor="let condition of patient.conditions">
            <p *ngIf="patient.conditions?.length; else noConditions">
              {{ condition.conditionName }}
            </p>
            <ng-template #noConditions>
              <p>No Conditions</p>
            </ng-template>
          </div>
        </div>

        <div class="col-md-3 p-2">
          <h4>Meds</h4>
          <div *ngFor="let medication of patient.currentMedications">
            <p *ngIf="patient.currentMedications?.length; else noMeds">
              {{ medication.medicationName }}
            </p>
            <ng-template #noMeds>
              <p>No Medications</p>
            </ng-template>
          </div>
        </div>

        <div class="col-md-3">
          <h4>Allergies</h4>
          <div *ngFor="let allergy of patient.allergies">
            <p *ngIf="patient.allergies?.length; else noAllergies">
              {{ allergy.allergyName }}
            </p>
            <ng-template #noAllergies>
              <p>No Allergies</p>
            </ng-template>
          </div>
        </div>

        <div class="col-md-3">
          <h4>Surgeries</h4>

          <div *ngFor="let surgery of patient.surgeries">
            <p *ngIf="patient.surgeries?.length; else noSurgeries">
              {{ surgery.surgeryName }}
            </p>
            <ng-template #noSurgeries>
              <p>No Surgeries</p>
            </ng-template>
          </div>
        </div>
      </div>
      <hr />
      <div class="content">
        <div class="text-center">
          <div class="row">
            <table class="table table-responsive hover">
              <thead>
                <th>Systolic (mmHg)</th>
                <th>Diastolic (mmHg)</th>
                <th>O2 Sat. (%)</th>
                <th>Heart Rate (bpm)</th>
                <th>Temp (℉)</th>
                <th>Resp Rate</th>
                <th>Height (in.)</th>
                <th>Weight (lbs.)</th>
              </thead>
              <tbody>
                <tr>
                  <td>{{ diagnosis.vitals?.systolic }}</td>
                  <td>{{ diagnosis.vitals?.diastolic }}</td>
                  <td>{{ diagnosis.vitals?.oxygenSat }}</td>
                  <td>{{ diagnosis.vitals?.heartRate }}</td>
                  <td>{{ diagnosis.vitals?.temperature }}</td>
                  <td>{{ diagnosis.vitals?.respiratoryRate }}</td>
                  <td>{{ diagnosis.vitals?.height }}</td>
                  <td>{{ diagnosis.vitals?.weight }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
            <table class="table table-responsive hover">
              <thead>
                <th>Complaint</th>
                <th>History</th>
                <th>Assessment</th>
                <th>Scale (0-10)</th>
              </thead>

              <tbody>
                <tr>
                  <td>{{ diagnosis.assessment?.chiefComplaint }}</td>
                  <td>{{ diagnosis.assessment?.historyOfPresentIllness }}</td>
                  <td>{{ diagnosis.assessment?.painAssessment }}</td>
                  <td>{{ diagnosis.assessment?.painScale }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
            <div class="col-md-6">
              <h4>Diagnosis</h4>
              <p>{{ diagnosis.doctorDiagnosis }}</p>
            </div>
            <div class="col-md-6">
              <h4>Recommended Treatment</h4>
              <p>{{ diagnosis.recommendedTreatment }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div id="buttonDiv" class="container" py-5>
    <button class="btn dark-grey-btn" onclick="window.print()">Print</button>
  </div>
  <br />
  <br />
  <br />
</body>
