* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.header {
  padding: 60px;
  text-align: center;
  background: rgb(115, 165, 194);
  color: white;
  font-size: 100px;
}

.column.side {
  width: 50%;
  padding: 70px;
}


.header h1 {

  color: white;
  font-size: 50px;
}

.header-side {
  padding: 20px;
  border-radius: 50px 20px;
  background: rgb(253, 181, 21);
  color: white;
  text-align: center;
  font-size: 30px;
}

.header-side h5{
  font-size: 30px;
}

.column.side dt{
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.card {
  border: none;
  padding: 20px;
  margin-top: 20px;
}

.column.middle {
  width: 50%;
  padding: 70px;
}

.column.middle h5 {
  font-weight: bolder;
  padding-bottom: 20px;
}

label {
  margin-left: -10px;
}

input[type="radio"] {
  transform: scale(1.5); 
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 10px;
  margin: 0 20px 0 20px;
}

button{
    margin-top: 10px;
    margin-right: 50%;
    margin-left: 45.4%;
    float:left;
}

.button-btm
{
  padding: 0px 0px 70px 50px;
  float: left;
}

.pointer:hover{
  cursor: pointer;
}