<div class="solid">
<h1 class="center"> Covid-19 Verification </h1>
</div>
<br/>
<div class="solid">
<div class="row">
    <div class="column">
    </div>
    <div class="column">
          <li>Fever or chills</li>
          <li>Cough</li>
          <li>Shortness of breath or difficulty breathing</li>
          <li>Fatigue</li>
          <li>Sore throat</li>
        </div>
        <div class="column">
          <li>Muscle or body aches</li>
          <li>New loss of taste or smell</li>
          <li>Nausea or vomiting</li>
          <li>Diarrhea</li>
          <li>Congestion or runny nose</li>
        </div>
        <div class="column">
        </div>
      </div>
    </div>
<form>
    
    <br/>
    <div class="solid">
    <div class="form-group center">
      <label for="exampleFormControlSelect1">Have you previously been diagnosed with Covid-19?</label>
      <select id="verificationFormControlSelect1 ">
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>
    </div>
        
    <br>
    <div class="center">
    <button type="submit" class="btn btn-primary ">Submit</button>
    </div>
  </form>