<body>
  <div class="container">
    <div class="header">
      <h1>Covid-19 Verification</h1>
    </div>
        <h6 class="mb-0">Patient Name/Id:</h6>
  </div>
<section>
  <br/>
  <h4>Symptoms</h4>
  <br>

  <div class="row">
    <div class="column">
      <p></p>
    </div>
    <div class="column">
      <p>
        <li>Fever or chills</li>
        <li>Cough</li>
        <li>Shortness of breath</li>
        <li>Difficulty breathing</li>
        <li>Fatigue</li>
        <li>Sore throat</li>
      </p>
    </div>
    <div class="column">
      <p>
        <li>Muscle or body aches</li>
        <li>New loss of taste or smell</li>
        <li>Nausea or vomiting</li>
        <li>Diarrhea</li>
        <li>Congestion or runny nose</li>
      </p>
    </div>
    <div class="column">
    </div>
  </div>
</section>
  <div class="form form-check">
    <label class="form-check-label" for="flexCheckChecked">
      Have you previously been diagnosed with Covid-19?
    </label>
    <input class="" type="checkbox" value="" id="flexCheckChecked" checked="">
  </div>
  <br/>
    <div class="center">
      <button type="submit" class="btn btn-primary btn-sm ">Submit</button>
    </div>
</body>


