<h1> Covid-19 Verification </h1>

<p>verification works!</p>

<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Patient Name:</label>
      <br>
      <input type="name" class="form-control" id="verificationFormControlInput1" placeholder="name@example.com">
    </div>
    <br>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Have you previously been diagnosed with Covid-19?</label>
      <select class="form-control" id="verificationFormControlSelect1">
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>
    <br>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>