<!-- 
    1.Patient & History Page        (todo)
    2.Vitals  & Assessment Page     (todo)
    3.Diagnosis & Print Page        (todo)
-->

<app-patient></app-patient>
<diagnosis-condition></diagnosis-condition>
<diagnosis-allergy></diagnosis-allergy>
<diagnosis-surgeries></diagnosis-surgeries>
<diagnosis-medication></diagnosis-medication>

<br>
<br>
<!-- So this is the "Patient Intake" Page and there will be a Save() and Continue() button -->

<!-- <button type="submit" class="btn btn-dark" (click)="RegisterPatient(registerGroup)">Register</button> -->