<nav class="navbar navbar-light navbar-color">
  
    <div class="container-fluid d-flex flex-row">
      <!--Left Navbar-->
      <a class="navbar-brand navbar-text revature-font-bold hover" (click)="home()">CloudCure</a>
      <img class="navbar-center" src="./assets/revlogos/revaturelogo.png" width="125">
      
      <!--Right Navbar-->
      
      <div>
        <ul class="navbar-nav">
        <li class="nav-item">
          <button (click)="search()">test</button>
          <app-login></app-login>
        </li>
      </ul>
      </div>
    </div>
  </nav>

