.coordinates-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  
  .area {
    position: absolute;
    cursor: pointer;
    transition: all 0.1s;
    &:hover{
      border: 1px solid #FCB414;
      box-shadow: 0 0px 8px #FCB414;
    }
  }
  .area-clicked {
    position: absolute;
    cursor: pointer;
    border: 1px solid #FCB414;
    box-shadow: 0 0px 8px #FCB414;
    background-color: #fcb2148e;
  }
}
  
#image-container {
  margin: auto;
  position: relative;
  border: 3px solid  #72A4C2;
  box-shadow: 0 0px 20px  #72A4C2;
}



