<h2>Patient Allergies</h2>

<form>
    <label class="form-label">Allergies:</label>
    <!-- The component only briefly shows and then goes away -->
    <button (click)="display = !display">Show</button>
    <br>
    <!-- It reverts back to it orginal instantiation -->
    <!-- *ngIf will only display for a bit -->
    <ng-container *ngIf="display">
        <app-text-box></app-text-box>
    </ng-container>
    <br>
    <br>
    <input type="submit">
</form>



<!-- This is just to help me go from allergy to text box so I don't have to use the URL -->
<br>
<br>
<br>
<button [routerLink]="['/text-box']" >text box</button>