<body>
  <div class="row">
    <div class="column side">
      <div class="profile-card">
        <img src="../../assets/Images/user.png" alt="John" style="width:100%">
        <h1>John Doe</h1>
        <p class="title">(Role)</p>
        <p>(Specialization)</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
      <div class="column middle">
        <div class="content-card">
          <div id="navbar-animmenu">
            <ul class="show-dropdown main-navbar">
                <li>
                    <a href=""><i class="fas fa-id-card"></i>Dashboard</a>
                </li>
                <li class="active">
                    <a href=""><i class="far fas fa-school"></i>Education</a>
                </li>
                <li>
                    <a href=""><i class="fas fa-book"></i>Certification</a>
                </li>
                <li>
                  <a href=""><i class="fas fa-book"></i>Contact</a>
              </li>
            </ul>
        </div>
        <br>
        <h2><button class="btn btn-sm " target="__blank" href="">Edit</button></h2>
        <br>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">First Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            Prince
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Last Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            Vegeta
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Phone</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            (123) 456-7890
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Email</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            super@cloudcure.net
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Alt. Email</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            sayian@cloudcure.net
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</body>
