<body>

  <div class="container">

    <div id="content" class="content p-0">

      <div class="profile-header">

        <div class="profile-header-cover"></div>

        <div class="profile-header-content">
          <div class="profile-header-img">
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" style="width: 200px" />
          </div>

          <div class="profile-header-info">
            <h4 class="m-t-sm">{{ employee.userProfile.firstName }} {{employee.userProfile.lastName}}</h4>
            <p class="m-b-sm">{{employee.specialization}}</p>
            <button href="#" class="btn btn-xs btn-primary mb-3">Edit Profile</button>
          </div>
        </div>
        <ul class="profile-header-tab nav nav-tabs">
          <li class="nav-item"><i id="dashboard" class="nav-link fa fa-slack"
              (click)="tabChange('dashboard')">DASHBOARD</i></li>
          <li class="nav-item"><i id="education" class="nav-link fa fa-graduation-cap" data-toggle="tab"
              (click)="tabChange('education')">EDUCATION</i></li>
          <li class="nav-item"><i id="certification" class="nav-link fa fa-certificate" data-toggle="tab"
              (click)="tabChange('certification')">CERTIFICATIONS</i></li>
          <li class="nav-item"><i id="contact" class="nav-link fa fa-address-book" data-toggle="tab"
              (click)="tabChange('contact')">CONTACT</i></li>
        </ul>
        <div class="card">
          <div clss="content-value" *ngIf="id === 'dashboard'">
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td>
                    <strong>
                      <span class="glyphicon glyphicon-user  text-primary"></span>
                      <i class="fa fa-user" aria-hidden="true"></i> First Name
                    </strong>
                  </td>
                  <td class="text-primary">
                    {{employee.userProfile.firstName}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>
                      <span class="glyphicon glyphicon-cloud text-primary"></span>
                      <i class="fa fa-user" aria-hidden="true"></i> Lastname
                    </strong>
                  </td>
                  <td class="text-primary">
                    {{employee.userProfile.lastName}}
                  </td>
                </tr>

                <tr>
                  <td>
                    <strong>
                      <span class="glyphicon glyphicon-eye-open text-primary"></span>
                      <i class="fa fa-eye" aria-hidden="true"></i> Role
                    </strong>
                  </td>
                  <td class="text-primary">
                    {{employee.userProfile.roleId}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>
                      <span class="glyphicon glyphicon-envelope text-primary"></span>
                      <i class="fa far fa-envelope" aria-hidden="true"></i> Email
                    </strong>
                  </td>
                  <td class="text-primary">
                    {{employee.workEmail}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>
                      <span class="glyphicon glyphicon-calendar text-primary"></span>
                      <i class="fa far fas fa-phone" aria-hidden="true"></i> Phone
                    </strong>
                  </td>
                  <td class="text-primary">
                    {{employee.userProfile.phoneNumber}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="content-value" *ngIf="id === 'education'">
            <h2>Education</h2>
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td>
                    <strong>
                      <span class="glyphicon glyphicon-user  text-primary"></span>
                      <i class="fa fa-university" aria-hidden="true"></i> Degree
                    </strong>
                  </td>
                  <td class="text-primary">
                    {{employee.educationDegree}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="content-value" *ngIf="id === 'certification'">
            <h2>Certification</h2>
            <p>Insert</p>
          </div>

          <div class="content-value" *ngIf="id === 'contact'">
            <h2>Emergency Contact</h2>
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td>
                    <strong>
                      <span class="glyphicon glyphicon-user  text-primary"></span>
                      Name
                    </strong>
                  </td>
                  <td class="text-primary">
                    {{employee.userProfile.emergencyName}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>
                      <span class="glyphicon glyphicon-user  text-primary"></span>
                      Phone Number
                    </strong>
                  </td>
                  <td class="text-primary">
                    {{employee.userProfile.emergencyContactPhone}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>