body{
  margin-top:20px;
}

.column {
  float: center;
  width: 100%;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.profile-header-img img {
  max-width: 100%;
}

.profile-header {
  position: relative;
  overflow: hidden;
}

.profile-header .profile-header-cover{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(115, 165, 194);
}

.profile-header .profile-header-cover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgb(185,185,186),rgba(115, 165, 194) 50%, rgb(242,105,38) 100%);
}

.profile-header .profile-header-content,
.profile-header .profile-header-tab,
.profile-header-img {
  position: relative;
}

.profile-header .profile-header-tab {
  background: #fff;
  list-style-type: none;
  margin: -1.25rem 0 0;
  padding: 0 10px 0 0;
  border-bottom: 50px solid #c8c7cc;
  white-space: nowrap;
  text-align: center;
}

.profile-header .profile-header-tab > li > i {
  display: block;
  color: #000;
  line-height: 1.25rem;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.profile-header .profile-header-tab > li > i:hover{
  color: rgb(253, 181, 21) ;
}

.profile-header .profile-header-tab > li.active > i,
.profile-header .profile-header-tab > li > i.active {
  color: lightgray;
}

.profile-header .profile-header-content:after,
.profile-header .profile-header-content:before {
  content: "";
  display: table;
  clear: both;
}

.profile-header .profile-header-content {
  color: #fff;
  padding: 1.25rem;
  font-size: 25px;
}

.profile-header-img {
  float: left;
  z-index: 10;
  margin: 0 1em 1.5em 0;
  border-radius: 0.25rem;
  background: #fff;
}

.profile-header-info h4 {
  font-weight: 500;
  margin-bottom: 0.3125rem;
  font-size: 50px;
}

.card{
  border: none;
  padding: 25px;
  width: 100%;
  height: 100%;
}

.container {
  height: 100vh;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 75px;
}









/* body {
  margin: 0;
}

.header {
  background-color: none;
  padding: 20px;
  text-align: center;
}

.container {
  height: 100vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  padding-top: 100px;

}

.column {
  float: left;
  padding: 10px;
}

.column.side {
  width: 25%;

}

.column.middle {
  float: center;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  margin-bottom:200px;
  border-radius: 25px;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#table-content {
  padding-bottom: 2px;
  padding-top: 100px;

}

.table:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 25px;
  height: 0;
}

.card img {
  position: relative;
  max-width: 250px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 2px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 25px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.tabs .tab-header{
  height: 0;
  display: flex;
  align-items: center;
}

.tabs .tab-header > div{
width: calc(100% / 4);
text-align: center;
font-weight: 600;
font-size: 15px;
text-transform: uppercase;
outline: none;

}

.tabs .tab-header > div > i{
  display: block;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 5px;
  cursor: pointer;
  }

.tabs .tab-header > div i:hover{
  color: rgb(253, 181, 21) ;
  } */
