/* .column {
  float: left;
  padding: 10px;
}

.column.middle {
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.content-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100vw;
  margin: auto;
  text-align: left;
  font-family: arial;
  display: grid;
}

.mb-0 {
  margin-bottom: 1rem!important;
  margin-left: 1rem!important;
}

h2 button {

 margin-right: 10px;
 float: right;
}

h2 button:hover {

  background-color: plum;
 }

#navbar-animmenu {
	background: skyblue;
	float: left;
	overflow: hidden;
	position: relative;
	padding: 10px 0px;
  width: 100%;
  justify-content: center;
}

#navbar-animmenu ul{
	padding: 0px;
	margin: 0px;
}

#navbar-animmenu ul li a i{
	margin-right: 10px;

}

#navbar-animmenu li {
	list-style-type: none;
	float: left;
}

#navbar-animmenu ul li a{
	  color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    line-height: 45px;
    display: block;
    padding: 0px 20px;
    transition-duration:0.6s;
	  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

#navbar-animmenu>ul>li.active>a{
	color: whitesmoke;
	background-color: transparent;
	transition: all 0.7s;
}

#navbar-animmenu a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10%;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}

#navbar-animmenu .active>a:not(:only-child):after {
	transform: rotate(90deg);
}


@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
} */


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.header {
  background-color: none;
  padding: 20px;
  text-align: center;
}

.container {
  height: 100vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  padding-top: 100px;

}

/* Columns */

.column {
  float: left;
  padding: 10px;
}

.column.side {
  width: 25%;

}

.column.middle {
  float: center;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  margin-bottom:200px;
  border-radius: 25px;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#table-content {
  padding-bottom: 2px;
  padding-top: 100px;

}

.table:after {
  content: "";
  display: table;
  clear: both;
}

/* Profile Card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 25px;
  height: 0;
}

.card img {
  position: relative;
  max-width: 250px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 2px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 25px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}


/* Tabs */
.tabs .tab-header{
  height: 0;
  display: flex;
  align-items: center;
}

.tabs .tab-header > div{
width: calc(100% / 4);
text-align: center;
font-weight: 600;
font-size: 15px;
text-transform: uppercase;
outline: none;

}

.tabs .tab-header > div > i{
  display: block;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 5px;
  cursor: pointer;
  }

.tabs .tab-header > div i:hover{
  color: rgb(253, 181, 21) ;
  }
