<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="jumbotron rounded-lg m-3">
                <h1 class="revature-font-medium big-text">CloudCure</h1>
                <hr class="my-4 white-text">
                <br/>
                <p class="lead white-text medium-text">Worry Less, Heal More</p>
                <br/>
                <p class="white-text">Our Policy Is To Make Sure Health,</p> 
                <p class="white-text">Comes First</p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>






