<p>Test</p>

<div>

    <h2>Name</h2>
    <p>{{PatientName}}</p>

    <h2>Phone</h2>
    <p>{{PatientPhone}}</p>
    
    <h2>Address</h2>
    <p>{{PatientAddress}}</p>
    
    <h2>Date of Birth</h2>
    <p>{{DateOfBirth}}</p>
    
    <h2>Conditions</h2>        
    <p>{{Conditions}}</p>
    
    <h2>Allergies</h2>         
    <p>{{Allergies}}</p>
    
    <h2>Surgeries</h2>          
    <p>{{Surgeries}}</p>
    
    <h2>Current Medications</h2>          
    <p>{{CurrentMedications}}</p>
    
    <h2>Vital History</h2>
    <p>{{VitalHistory}}</p>
    
    <h2>Assessments</h2>       
    <p>{{Assessments}}</p>

</div>
