<body>
  <div class="container">
    <div class="content">
      <div class="content-title">
        <h1>Patient Information</h1>
      </div>
      <div class="row">
        <div class="col-sm">
          <h4>Full Name</h4>
          <p>{{patient.userProfile.firstName}} {{patient.userProfile.lastName}}</p>
        </div>
        <div class="col-sm">
          <h4>Date Of Birth</h4>
          <p>{{patient.userProfile.dateOfBirth | date: 'MM/dd/yyyy'}}</p>
        </div>
        <div class="col-sm">
          <h4>Phone</h4>
          <p>{{patient.userProfile.phoneNumber | phone}}</p>
          <br />
        </div>

        <div class="col-lg">
          <h4>Address</h4>
          <p>{{patient.userProfile.address}}</p>
        </div>
      </div>
    </div>

    <div class="content" *ngIf="patient.conditions?.length">
      <div class="content-title">
        <button (click)="showConditions()">Show</button>
        <h1>Family Medical History</h1>
      </div>
      <div *ngIf="viewConditions" class="row">
        <app-view-conditions [item]="patient"></app-view-conditions>
      </div>
    </div>

    <!-- allergies -->
    <div class="content" *ngIf="patient.allergies?.length">
      <div class="content-title">
        <button (click)="showAllergies()">Show</button>
        <h1>Allergies</h1>
      </div>
      <div *ngIf="viewAllergies" class="row">
        <app-view-allergies [item]="patient"></app-view-allergies>
      </div>
    </div>

    <div class="content" *ngIf="patient.surgeries?.length">
      <div class="content-title">
        <button (click)="showSurgeries()">Show</button>
        <h1>Surgeries</h1>
      </div>
      <div *ngIf="viewSurgeries" class="row">
        <app-view-surgeries [item]="patient"></app-view-surgeries>
      </div>
    </div>

    <div class="content" *ngIf="patient.currentMedications?.length">
      <div class="content-title">
        <button (click)="showMedication()">Show</button>
        <h1>Medications</h1>
      </div>
      <div *ngIf="viewMedication" class="row">
        <app-view-medications [item]="patient"></app-view-medications>
      </div>
    </div>
    <div class="content">
      <div class="content-title">
        <button (click)="showCovid()">Show</button>
        <h1>Covid Verification</h1>
      </div>
        <div *ngIf="viewCovid" class="row">
          <div *ngFor="let covid of patient.userProfile.covidAssesments" class="card-grid">
            <div class="card card-custom" style="width: 15rem; max-height: 15rem;">

              <h5>Regardless of your vaccination status, have
                you experienced any of the symptoms in
                the listed prior in the past 48 hours?</h5>
              <p class="center revature-font-heavy">{{covid.question1}}</p>
            </div>
            <div class="card card-custom" style="width: 15rem ;max-height: 17rem;">
              <h5>Are you isolating or quarantining because you
                tested positive for COVID-19 or are worried
                that you may be sick with COVID-19?</h5>
              <p class="center revature-font-heavy">{{covid.question2}}</p>
            </div>
            <div class="card card-custom" style="width: 15rem; max-height: 17rem;">
              <h5>Are you isolating or quarantining because you
                tested positive for COVID-19 or are worried
                that you may be sick with COVID-19?</h5>
              <p class="center revature-font-heavy">{{covid.question3}}</p>
            </div>
            <div class="card card-custom" style="width: 15rem; max-height: 17rem;">
              <h5>Have you traveled in the past 10 days?</h5>
              <p class="center revature-font-heavy">{{covid.question4}}</p>
            </div>
            <div class="card card-custom" style="width: 15rem; max-height: 17rem;">
              <h5>In the past 14 days, have you been identified
                as a close contact of someone with
                suspected or confirmed COVID-19?</h5>
              <p class="center revature-font-heavy">{{covid.question5}}</p>
            </div>
          </div>
      </div>
    </div>

    <div class="content" *ngIf="patient.diagnoses?.length">
      <div class="content-title">
        <button (click)="showDiagnoses()">Show</button>
        <h1>Diagnoses</h1>
      </div>
      <div *ngIf="viewDiagnoses">
        <div *ngFor="let diagnosis of patient.diagnoses">
          <div class="card m-4">
            <div class="row">
              <p>{{diagnosis.encounterDate | date}}</p>
              <button class="btn  btn-sm orange-btn mb-4" (click)="setDiagId(diagnosis.id)">Print Diagnosis</button>
              <table class="table table hover">
                <thead>
                  <th>Systolic (mmHg)</th>
                  <th>Diastolic (mmHg)</th>
                  <th>O2 Sat. (%)</th>
                  <th>Heart Rate (bpm)</th>
                  <th>Temp (℉)</th>
                  <th>Resp Rate</th>
                  <th>Height (in.)</th>
                  <th>Weight (lbs.)</th>
                </thead>
                <tbody>
                  <tr>
                    <td>{{diagnosis.vitals?.systolic}}</td>
                    <td>{{diagnosis.vitals?.diastolic}}</td>
                    <td>{{diagnosis.vitals?.oxygenSat}}</td>
                    <td>{{diagnosis.vitals?.heartRate}}</td>
                    <td>{{diagnosis.vitals?.temperature}}</td>
                    <td>{{diagnosis.vitals?.respiratoryRate}}</td>
                    <td>{{diagnosis.vitals?.height}}</td>
                    <td>{{diagnosis.vitals?.weight}}</td>
                  </tr>
                </tbody>
              </table>
            </div>


            <div class="row">
              <table class="table table hover">
                <thead>
                  <th>Chief Complaint</th>
                  <th>Condition History</th>
                  <th>Pain Assessment</th>
                  <th>Scale (0-10)</th>
                </thead>

                <tbody>
                  <tr>
                    <td>{{diagnosis.assessment?.chiefComplaint}}</td>
                    <td>{{diagnosis.assessment?.historyOfPresentIllness}}</td>
                    <td>{{diagnosis.assessment?.painAssessment}}</td>
                    <td>{{diagnosis.assessment?.painScale}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="card p-4">
              <h2>Diagnosis</h2>
              <p>{{diagnosis.doctorDiagnosis}}</p>
              <h2>Recommended Treatment</h2>
              <p>{{diagnosis.recommendedTreatment}}</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</body>