<body>
  <div class="container">
    <div class="content">
      <div class="content-title">
        <h1>Patient Information</h1>
      </div>
      <div class="row">
        <div class="col-md-4"><h4>Full Name</h4>
          <p>{{PatientName}}</p>
        </div>
        <div class="col-md-4"><h4>Date Of Birth</h4>
          <p>{{DateOfBirth}}</p>
        </div>
        <div class="col-md-4"><h4>Contact Number</h4>
          <p>{{PatientPhone}}</p>
          <br/>
        </div>

        <div class="col-lg-9"><h4>Patient Address</h4>
          <p>{{PatientPhone}}</p>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="content-title">
        <button (click)="showConditions()">Show</button>
        <h1>Conditions</h1>
      </div>
      <div *ngIf="viewConditions" class="row">
        <app-view-conditions [PatientId]="PatientId" [listOfConditions]="Conditions"></app-view-conditions>
      </div>
    </div>

    <!-- allergies -->
    <div class="content">
      <div class="content-title">
        <button (click)="showAllergies()">Show</button>
        <h1>Allergies</h1>
      </div>
      <div *ngIf="viewAllergies" class="row">
        <!-- <ul *ngFor="let allergy of Allergies" style="float: left; width: 50%;">
          <li>{{allergy.allergyName}}</li>
        </ul> -->
        <app-view-allergies [PatientId]="PatientId" [listOfAllergies]="Allergies"></app-view-allergies>
      </div>
    </div>

    <div class="content">
      <div class="content-title">
        <button (click)="showSurgeries()">Show</button>
        <h1>Surgeries</h1>
      </div>
      <div *ngIf="viewSurgeries" class="row">
        <!-- <ul *ngFor="let surgery of Surgeries" style="float: left; width: 50%;">
          <li>{{surgery.surgeryName}}</li>
          </ul> -->
        <app-view-surgeries [PatientId]="PatientId" [listOfSurgeries]="Surgeries"></app-view-surgeries>
      </div>
    </div>

    <div class="content">
      <div class="content-title">
        <button (click)="showMedication()">Show</button>
        <h1>Medications</h1>
      </div>
      <div *ngIf="viewMedication" class="row">
        <!-- <ul *ngFor="let medication of CurrentMedications" style="float: left; width: 50%;">
          <li>{{medication.MedicationName}}</li>
          </ul> -->
          <app-view-medications [PatientId]="PatientId" [listOfMedications]="CurrentMedications"></app-view-medications>
      </div>
    </div>

    <div class="content">
      <div class="content-title">
        <button (click)="showHistory()">Show</button>
        <button class="nice-button" (click)="vitalsPage()">Add Vitals</button>
        <h1>Vitals History</h1>
      </div>
      <div *ngIf="viewHistory" class="row">
        <app-vitalsview [PatientId]="PatientId"></app-vitalsview>
      </div>
    </div>

    <div class="content">
      <div class="content-title">
        <button (click)="showAssessment()">Show</button>
        <button class="nice-button" (click)="assessmentsPage()">Add Assessments</button>
        <h1>Assessments</h1>
      </div>
      <div class="row">
        <div *ngIf="viewAssessment" class="row">
          <app-view-assessments [PatientId]="PatientId"></app-view-assessments >
        </div>
      </div>
    </div>
  </div>
</body>

<br/>
<br/>