<body>

  <div class="header">
    <h1>PATIENT VITALS FORM</h1>
  </div>

  <div class="container">

    <div class="row">

      <div class="col-lg-3"></div>

      <div class="col-lg-6">

        <div id="form">

          <form [formGroup]="vitalsGroup">
            <!--
            <label>Diagnosis</label>
            <select formControlName="Date" class="form-select" aria-label="Default select example">
              <option value="null" disabled>Select New or Previous Assessment Diagnosis</option>
              <option [value]="date"selected>New Vitals Diagnosis - <span>{{date | date: 'MM/dd/yyyy'}}</span></option>
              <option *ngFor="let a of patient.assessments; let i = index;" [value]="a.id">Date: {{a.encounterDate | date: 'MM/dd/yyyy'}}, ID: {{a.id}}</option>
            </select>
            <br />
            -->

            <div class="row">

              <label>Blood Pressure (mmHg)</label>
              <div class="input-group mb-3">
                <input type="number" formControlName="Systolic" class="form-control" placeholder="Systolic..."> <span
                  class="input-group-text"> / </span> <input type="number" formControlName="Diastolic"
                  class="form-control" placeholder="Diastolic...">
              </div>
              <div class="row">
                <div class="col">
                  <div *ngIf="Systolic?.invalid && (Systolic?.dirty || Systolic?.touched)">
                    <div class="text-danger" *ngIf="Systolic?.errors?.['required']">*Required</div>
                  </div>
                </div>
                <div class="col">
                  <div *ngIf="Diastolic?.invalid && (Diastolic?.dirty || Diastolic?.touched)">
                    <div class="text-danger" *ngIf="Diastolic?.errors?.['required']">*Required</div>
                  </div>
                </div>
                
              </div>
              

              <div class="col-lg-6">
                <label>Heart Rate (bpm)</label>
                <input type="number" formControlName="HeartRate" class="form-control" placeholder="Heart Rate...">
                <div *ngIf="HeartRate?.invalid && (HeartRate?.dirty || HeartRate?.touched)">
                  <div class="text-danger" *ngIf="HeartRate?.errors?.['required']">*Required</div>
                </div>
              </div>

              <div class="col-lg-6 moreSpace">
                <label>Respiratory Rate (B/M)</label>
                <input type="number" formControlName="RespiratoryRate" class="form-control moreSpace"
                  placeholder="Respiratory Rate...">
                <div *ngIf="RespiratoryRate?.invalid && (RespiratoryRate?.dirty || RespiratoryRate?.touched)">
                  <div class="text-danger" *ngIf="RespiratoryRate?.errors?.['required']">*Required</div>
                </div>
              </div>

              <div class="col-lg-6 moreSpace">
                <label>Oxygen Saturation (%)</label>
                <input type="number" formControlName="OxygenSat" class="form-control moreSpace"
                  placeholder="Oxygen Saturation...">
                <div *ngIf="OxygenSat?.invalid && (OxygenSat?.dirty || OxygenSat?.touched)">
                  <div class="text-danger" *ngIf="OxygenSat?.errors?.['required']">*Required</div>
                </div>
              </div>

              <div class="col-lg-6 moreSpace">
                <label>Temperature (℉)</label>
                <input type="number" step="0.1" formControlName="Temperature" class="form-control moreSpace"
                  placeholder="Temperature...">
                <div *ngIf="Temperature?.invalid && (Temperature?.dirty || Temperature?.touched)">
                  <div class="text-danger" *ngIf="Temperature?.errors?.['required']">*Required</div>
                </div>
              </div>

              <div class="moreSpace">
                <label>Height (inches)</label>
                <input type="number" formControlName="Height" class="form-control moreSpace" placeholder="Height...">
                <div *ngIf="Height?.invalid && (Height?.dirty || Height?.touched)">
                  <div class="text-danger" *ngIf="Height?.errors?.['required']">*Required</div>
                </div>
              </div>

              <div>
                <label>Weight (lbs.)</label>
                <input type="number" formControlName="Weight" class="form-control" placeholder="Weight...">
                <div *ngIf="Weight?.invalid && (Weight?.dirty || Weight?.touched)">
                  <div class="text-danger" *ngIf="Weight?.errors?.['required']">*Required</div>
                </div>
              </div>

              <br>

            </div>
            <br>
            <div>
              <br />
              <button class="btn dark-grey-btn width-150px" (click)="PatientProfile()">Save</button>
              <button style="float: right;" class="btn dark-grey-btn width-150px"
                (click)="Assessments()">Continue</button>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
  <br />
</body>