<body>

  <div class="header">
    <h1>PATIENT VITALS FORM</h1>
  </div>

  <div class="container">  

    <div class="row">

      <div class="col-lg-3"></div>

      <div class="col-lg-6">

        <div id="form">

          <form [formGroup] = "vitalsGroup">
          <div class="row">

              <label>Blood Pressure (mmHg)</label>
              <div class="input-group mb-3">
                <input type="number" formControlName = "Systolic" class="form-control" placeholder="Systolic..."> <span class="input-group-text"> / </span> <input type="number" formControlName = "Diastolic" class="form-control" placeholder="Diastolic...">
              </div>

              <div class="col-lg-6">
                <label>Heart Rate (bpm)</label>
                <input type="number" formControlName = "HeartRate" class="form-control" placeholder="Heart Rate...">
              </div>

              <div class="col-lg-6 moreSpace">
                  <label>Respiratory Rate (B/M)</label>
                  <input type="number" formControlName = "RespiratoryRate" class="form-control moreSpace" placeholder="Respiratory Rate...">
              </div>

              <div class="col-lg-6 moreSpace">
                  <label>Oxygen Saturation (%)</label>
                  <input type="number" formControlName = "OxygenSat" class="form-control moreSpace" placeholder="Oxygen Saturation...">
              </div>

              <div class="col-lg-6 moreSpace">
                  <label>Temperature (℉)</label>
                  <input type="number" step="0.1" formControlName = "Temperature" class="form-control moreSpace" placeholder="Temperature...">
              </div>

              <div class="moreSpace">
                  <label>Height (inches)</label>
                  <input type="number" formControlName = "Height" class="form-control moreSpace" placeholder="Height...">
              </div>

              <div>
                  <label>Weight (lbs.)</label>
                  <input type="number" formControlName = "Weight" class="form-control" placeholder="Weight...">
              </div>
               
                  <br>

          </div>
          <br>
          <div>
            <br/>
            <button class="btn btn-dark width-150px" (click)="PatientProfile()">Save</button>
            <button style="float: right;" class="btn btn-dark width-150px" (click)="Assessments()">Continue</button>
          </div>         
          </form>
        </div>
      </div>

    </div>
  </div>
</body>