
<h2 class="center">Any history of previous surgeries?</h2>

<button (click)="display = !display">Add Surgeries</button>
<br>
<ng-container *ngIf="display">
    <form [formGroup] = "SurgeryGroup">
        <div class="row">
            <div class="col-lg-6">
              <label>Condition </label>
              <input type="text" formControlName = "SurgeryName" class="form-control" placeholder="Enter Surgery description...">
            </div>
        </div>
        <button class="btn btn-dark" type="button" (click)="AddSurgery(SurgeryGroup)">Submit</button>
    </form>
    <app-text-box [boxes]="surgeries"></app-text-box>
</ng-container>