
<h2 class="center">Any history of previous surgeries?</h2>

<button (click)="display = !display">Add Surgeries</button>
<br>
<ng-container *ngIf="display">
    <!-- <form [formGroup] = "SurgeryGroup">
        <div class="row">
            <div class="col-lg-6">
              <label>Condition </label>
              <input type="text" formControlName = "SurgeryName" class="form-control" placeholder="Enter Surgery description...">
            </div>
        </div>
        
    </form> -->

    <app-text-box [boxes]="surgeries" (boxesEmitter)="SetDataFromChild($event)"></app-text-box>

    <button class="btn btn-dark" type="button" (click)="AddSurgery(PatientID)">Submit</button>
</ng-container>