<div class="card-body">
    <h4 class="card-title">{{patient.userProfile.firstName}} {{patient.userProfile.lastName}}</h4>
    <p class="card-text">Phone: {{patient.userProfile.phoneNumber}}</p>
    <p class="card-text">DOB: {{patient.userProfile.dateOfBirth | date: 'MM/dd/yyyy'}}</p>
    <p class="card-text">Address: {{patient.userProfile.address}}</p>
    <a (click)="allergy()" class="btn btn-primary">Allergies</a>
    <a (click)="conditions()" class="btn btn-primary">Conditions</a>
    <a (click)="diagnosis()" class="btn btn-primary">Diagnosis</a>
    <!-- <br /> -->
    <a (click)="medications()" class="btn btn-primary">Medications</a>
    <a (click)="surgeries()" class="btn btn-primary">Surgeries</a>
    <a (click)="vitals()" class="btn btn-primary">Vitals</a>
</div>