<div class="container">
    <div class="row">
        <div class="card" style="width:500px">
            <div class="card-img-overlay">
                <h4 class="card-title">FirstName LastName</h4>
                <p class="card-text">PhoneNumber</p>
                <p class="card-text">DateOfBirth</p>
                <p class="card-text">Address</p>
                <a href="#" class="btn btn-primary">Allergies</a>
                <a href="#" class="btn btn-primary">Conditions</a>
                <a href="#" class="btn btn-primary">Diagnosis</a>
                <br/>
                <a href="#" class="btn btn-primary">Medications</a>
                <a href="#" class="btn btn-primary">Surgeries</a>
                <a href="#" class="btn btn-primary">Vitals</a>
            </div>
        </div>
    </div>
</div>


<!--Name, Phone Number, Address, DoB, 
Button for adding allergies/condition/diganosis/medications/surgeries/vitals -->