<div class="card card-custom" style="width: 18rem; height: 18rem;" [class]="pairedDoctor">
    <div class="card-body">
        <h4 class="card-title center revature-font-heavy">{{patient.userProfile.firstName}}
            {{patient.userProfile.lastName}}
        </h4>
        <p class="text revature-font-heavy">Phone: <span>{{patient.userProfile.phoneNumber}}</span></p>
        <p class="text">DOB: {{patient.userProfile.dateOfBirth | date: 'MM/dd/yyyy'}}</p>
        <p class="text">Address: {{patient.userProfile.address}}</p>
        <p class="text">Doctor: <span>{{patient.doctor?.userProfile?.firstName}}
                {{patient.doctor?.userProfile?.lastName}}</span></p>
        
        <div class="row">
            <div class="col"
                *ngIf="!patient.diagnoses?.length || patient.diagnoses![patient.diagnoses!.length - 1].isFinalized == true; else assessButton">
                <button (click)="createDiagnosis()" class="btn btn-custom btn-primary diagnosis border view">Start
                    Assessment</button>
            </div>
        </div>
        <ng-template #assessButton class="row">
            <div class="col">
                <button *ngIf="patient.diagnoses![patient.diagnoses!.length - 1].vitals" (click)="viewVitals()"
                    class="btn btn-custom btn-primary diagnosis border view">Vitals</button>
            </div>
            <div class="col">
                <button *ngIf="patient.diagnoses![patient.diagnoses!.length - 1].assessment" (click)="viewAssessments()"
                    class="btn btn-custom btn-primary diagnosis border view">Assessments</button>
            </div>
            <!-- For Doctors Eyes Only -->
                <div *ngIf="role === 2;" class="col">
                    <button *ngIf="patient.diagnoses![patient.diagnoses!.length - 1].isFinalized == true" (click)="finalize()" class="finalize btn btn-custom btn-primary diagnosis border">Finalize
                        Report</button>
                </div>

            <div class="row">
                <div class="col-md-12">
                    <button (click)="viewProfile()" class="btn btn-custom btn-primary diagnosis border view">Patient
                        Profile</button>
                </div>
            </div>
        </ng-template>


        <!-- For Nurse Eyes Only -->
        <div *ngIf="role === 1;" class="row">
            <div *ngIf="!patient.doctor" class="col-md-12">
                <button (click)="assignDoctor()" class="btn btn-custom btn-primary finalize">Assign Doctor</button>
            </div>
        </div>

    </div>
</div>