<body>

  <div class="header">
    <h1>PATIENT REGISTRATION FORM</h1>
  </div>

  <div class="container">

    <div class="row">

      <div class="col-lg-2"></div>

      <div class="col-lg-8">

        <div id="form">

          <form [formGroup]="registerGroup">
            <div class="row">

              <div class="col-lg-6">
                <label>First Name</label>
                <input type="text" formControlName="FirstName" class="form-control"
                  placeholder="Enter Your First Name...">
                <div *ngIf="FirstName?.invalid && (FirstName?.dirty || FirstName?.touched)">
                  <div class="text-danger" *ngIf="FirstName?.errors?.['required']">Required</div>
                </div>
              </div>


              <div class="col-lg-6">
                <label>Last Name</label>
                <input type="text" formControlName="LastName" class="form-control"
                  placeholder="Enter Your Last Name...">
                <div *ngIf="LastName?.invalid && (LastName?.dirty || LastName?.touched)">
                  <div class="text-danger" *ngIf="LastName?.errors?.['required']">Required</div>
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-lg-6">
                <label>Phone Number</label>
                <input type="text" mask="(000) 000-0000" formControlName="PhoneNumber" class="form-control"
                  placeholder="Enter Your Phone Number...">
                <div *ngIf="PhoneNumber?.invalid && (PhoneNumber?.dirty || PhoneNumber?.touched)">
                  <div class="text-danger" *ngIf="PhoneNumber?.errors?.['required']">Required</div>
                </div>
                <div *ngIf="PhoneNumber?.touched">
                  <div class="text-danger" *ngIf="PhoneNumber?.errors?.['minlength']">*Enter Full Phone Number</div>
                </div>
              </div>
              <div class="col-lg-6">
                <label>Date of Birth</label>
                <input type="date" min="1900-01-01" [max]="today" formControlName="DateOfBirth" class="form-control"
                  placeholder="Enter Your Date Of Birth...">
                <div *ngIf="DateOfBirth?.invalid && (DateOfBirth?.dirty || DateOfBirth?.touched)">
                  <div class="text-danger" *ngIf="DateOfBirth?.errors?.['required']">Required</div>
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-lg-12">
                <label>Address</label>
                <input type="text" formControlName="Address" class="form-control" placeholder="Enter Your Address...">
                <div *ngIf="Address?.invalid && (Address?.dirty || Address?.touched)">
                  <div class="text-danger" *ngIf="Address?.errors?.['required']">Required</div>
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-lg-6">
                <div>
                  <label>Emergency Contact Name</label>
                  <input type="text" formControlName="EmergencyName" class="form-control"
                    placeholder="Enter Your Emergency Contact...">
                  <div *ngIf="EmergencyName?.invalid && (EmergencyName?.dirty || EmergencyName?.touched)">
                    <div class="text-danger" *ngIf="EmergencyName?.errors?.['required']">Required</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div>
                  <label>Emergency Contact Number</label>
                  <input type="text" mask="(000) 000-0000" formControlName="EmergencyContactPhone" class="form-control"
                    placeholder="Enter Your Emergency Contact Phone Number...">
                  <div
                    *ngIf="EmergencyContactPhone?.invalid && (EmergencyContactPhone?.dirty || EmergencyContactPhone?.touched)">
                    <div class="text-danger" *ngIf="EmergencyContactPhone?.errors?.['required']">Required</div>
                  </div>
                  <div *ngIf="PhoneNumber?.touched">
                    <div class="text-danger" *ngIf="PhoneNumber?.errors?.['minlength']">*Enter Full Phone Number</div>
                  </div>
                </div>
              </div>
            </div>
            <br>

            <!--  Conditions  -->
            <div class="title-btn">
              <h1>Family Medical History</h1>
              <button class="btn btn-primary add" (click)="addMoreElements('condition')">+</button>
            </div>
            <div formArrayName="conditions">
              <div *ngFor="let cond of conditions().controls; let i=index;" [formGroupName]="i">
                <div>
                  <br />
                  <div class="row">
                    <div class="col-md-11">
                      <textarea rows="1" formControlName="text" class="form-control"></textarea>
                    </div>
                    <div class="col-md-1">
                      <button class="btn btn-primary subtract" (click)="removeElement('condition', i)">X</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />

            <!--  Allergy  -->
            <div class="title-btn">
              <h1>Allergies</h1>
              <button class="btn btn-primary add" (click)="addMoreElements('allergy')">+</button>
            </div>
            <div formArrayName="allergies">
              <div *ngFor="let algy of allergies().controls; let i=index;" [formGroupName]="i">
                <div>
                  <br />
                  <div class="row">
                    <div class="col-md-11">
                      <textarea rows="1" formControlName="text" class="form-control"></textarea>
                    </div>
                    <div class="col-md-1">
                      <button class="btn btn-primary subtract" (click)="removeElement('allergy', i)">X</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />

            <!--  Surgery  -->
            <div class="title-btn">
              <h1>Surgeries</h1>
              <button class="btn btn-primary add" (click)="addMoreElements('surgery')">+</button>
            </div>

            <div formArrayName="surgeries">
              <div *ngFor="let surg of surgeries().controls; let i=index;" [formGroupName]="i">
                <div>
                  <br />
                  <div class="row">
                    <div class="col-md-11">
                      <textarea rows="1" formControlName="text" class="form-control"></textarea>
                    </div>
                    <div class="col-md-1">
                      <button class="btn btn-primary subtract" (click)="removeElement('surgery', i)">X</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />

            <!--  Medication  -->
            <div class="title-btn">
              <h1>Medications</h1>
              <button class="btn btn-primary add" (click)="addMoreElements('medication')">+</button>
            </div>
            <div formArrayName="medications">
              <div *ngFor="let medi of medications().controls; let i=index;" [formGroupName]="i">
                <div>
                  <br />
                  <div class="row">
                    <div class="col-md-11">
                      <textarea rows="1" formControlName="text" class="form-control"></textarea>
                    </div>
                    <div class="col-md-1">
                      <button class="btn btn-primary subtract" (click)="removeElement('medication', i)">X</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <br />

          </form>

          <button type="submit" class="btn btn-dark" (click)="RegisterPatient(registerGroup)">Register</button>
          <br />
          <br />
        </div>
      </div>

    </div>
  </div>
</body>