* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  padding: 0;
  margin: 0;
}

.container {
  padding: 20px;
  height: 100%;
  width: 100%;
}

.content-title{
  background: linear-gradient(to bottom, rgb(185,185,186),rgba(115, 165, 194) 50%);
  padding: 5px;
  border-radius: 5px;
  margin: 4px;
  color: whitesmoke;
}

.row{
  padding: 10px;
  margin: 20px;
}

.flex-container{
  display: flex;
  margin-left: 15px;
}


.mb-3 .form-control:focus {
  border: 1px solid rgb(242,105,38);
  box-shadow: 0 0 0 0.2rem rgba(115, 165, 194);
}

.textarea {
    margin: auto;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

