<body>
    <div class="header">
        <h1>REGISTRATION FORM</h1>
    </div>
    <div class="container">
        <app-patient          [basicpatient]="basepatient"></app-patient>
        <diagnosis-condition  [basicpatient.Conditions]="conditions"></diagnosis-condition>
        <diagnosis-allergy    [basicpatient.Allergies]="allergies"></diagnosis-allergy>
        <diagnosis-surgeries  [basicpatient.Surgeries]="surgeries"></diagnosis-surgeries>
        <diagnosis-medication [basicpatient.CurrentMedications]="medications"></diagnosis-medication>
        <br>
        <button type="submit" class="btn btn-dark" (click)="RegisterPatient()">Register</button>
    </div>
</body>