<body>
  <div class="header">
    <h1>ASSESSMENT FORM</h1>
  </div>
  <form [formGroup]="assessmentGroup">
    <div class="container">

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        </div>
        <div class="col-md-3"></div>
      </div>

        <button class="showBodyClicker center" (click)="show()">{{bodyClickButtonText}}</button>
        <br />

        <ng-container *ngIf="showBodyClicker">
          <body-clicker class="translate-right" (onClick)="getClick($event)" [canEdit]="true"></body-clicker>
        </ng-container>

      
      <div class="row">
        <label [class]="HideStuff">History of present illness</label>
        <textarea formControlName="history" id="historyOfPresentIllness" name="historyOfPresentIllness"
          class="form-control bodyclickerstuff" rows="3">
              </textarea>
      </div>
      <br />
      
      <div class="row">
        <label>Pain assessment</label>
        <textarea formControlName="painAssessment" id="painAssessment" name="painAssessment"
          class="form-control bodyclickerstuff" rows="3">
              </textarea>
      </div>
      <br />
        <label>Pain scale</label>
        <input formControlName="painScale" name="painScale" id="painScale" type="number" min="0" max="10"/>
      
      <div>
        <button class="btn dark-grey-btn center" (click)="onSubmit(assessmentGroup)">Submit</button>
      </div>
    </div>
  </form>

  <br />
  <br />
  <br />

</body>
